

h3 { display: none; }

.footer { display: flex;

	 justify-content: flex-end;
	 margin-top: 500px;
	}



.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.carousel {
  position: relative;
}

