<!DOCTYPE html>
<html>
<html lang="en">

<head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <title> Japanesse Bakery </title>


    <link rel="stylesheet" type="text/css" href="../css/estilo.css">

</head>

<body>

    <header class="container-fluid">
         <div class="row">
        <div class="col-lg-12 col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                <a class="navbar-brand" href="../index.html"><img src="../assets/img/logo.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="../index.html">INICIO<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="nosotros.html">NOSOTROS<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="galeria.html">GALERIA</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="recetas.html">TIENDA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CONTACTO</a>
                        </li>
                    
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    </header>

    <main class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-12 d-flex justify-content-center">
            <h1 class="titulo"> DONDE ESTAMOS? </h1>
        </div>
        <div class="col-lg-6 col-12">
            <img src="../assets/img/cakeshop.jpg" alt="contacto" class="img-fluid">
        </div>
        <div class="col-lg-6 col-12">
            <h2 class="titulo"> Visitanos en  </h2>
            <p class="texto"> 1st floor, 9-3, Gwanak-daero 330beon-gil, Dongan-gu, Anyang-si, Gyeonggi-do. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-12 d-flex justify-content-center">
            <h2 class="titulo">HACE TU PEDIDO</h2>
        </div>
        <div class="col-lg-12 col-12">
            <form>
                <div class="row">
                    <div class="col">
                        <div class="mb-2">
                        <input type="text" class="form-control" placeholder="Nombre y apellido">
                    </div>
                     </div>
                    <div class="col">
                         <div class="mb-2">
                        <input type="email" class="form-control" placeholder="E-mail">
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-2">
                        <input type="number" class="form-control" placeholder="Número de telefono">
                    </div>
                    </div>
                    <div class="col">
                        <div class="mb-2">
                        <input type="text" class="form-control" placeholder="Asunto">
                    </div>
                     </div>
                </div>
                <div class="row">
                    <div class="col">
 <div class="mb-2">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Mensaje"></textarea>
                    </div>
                    </div>
                </div>
                
            </form>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-secondary enviar">ENVIAR</button>
                </div>
            </div>
        </div>
    </div>
</main>

    <footer class="footer">

        <h3 class="redes">REDES SOCIALES</h3>


        <div class="footer2">

            <a href="https://www.facebook.com/thatlittlepuff/" target="_blank"><img class="redes-logos"
                    src="../assets/img/facebook.png" alt="facebook"><a />

                <a href="https://www.instagram.com/thatlittlepuff" target="_blank"><img class="redes-logos"
                        src="../assets/img/instagram.png" alt="instagram"><a />

                    <a href="https://www.youtube.com/Delight_Studios" target="_blank"><img class="redes-logos"
                            src="../assets/img/youtube.png" alt="youtube"><a />

        </div>

    </footer>
</body>

</html>